footer{
	background-color: #1f1f1f;
	width: 100%;
	padding: 2vw 0vw 0vw 0vw;
	position: relative
}
footer h5{
	margin: 0;
    font-size: 1.1vw;
    text-transform: uppercase;
    font-weight: 400;
	margin-bottom: 1.5vw;
}
footer a{
	font-size: 0.9vw;
	display: -webkit-flex;
    display: flex;
	align-items: center;
	cursor: pointer;
}
footer li{
	list-style-type: none;
}
footer img{
	width: 1.5vw;
	margin-right: 1vw;
}
.element-2{
	position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    top: -3vw;
}
.element-2 img{
	width: 15vw;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.element-2 a{
    color: #f5c118;
    position: absolute;
    margin-left: auto;
    left: 0;
    margin-right: auto;
    right: 0;
    width: 1.1vw;
    z-index: 2;
    top: 1vw;
}
.element-2 a:before{
	content: "\25B2";
	cursor: pointer
}
.f{
	padding-top: 1vw;
}
.contacts div:first-child{
	margin-right: 4vw;
}
.footer{
	justify-content: space-evenly;
}

.contacts li{
	line-height: 2.5;
}
.socials li{
    line-height: 3;	
}


.contact-{
	width: 30vw;
}
.contact-us{
	flex-wrap: wrap
}
.contact-us h3{
	margin: 0;
    font-size: 0.9vw;
    font-weight: 400;
}
.contact-us div{
	margin-bottom: 1vw;
}
.capture{
	width: 25%
}
.input{
	width: 75%;
}
.input input{
	border: 1px solid white;
    background-color: transparent;
    border-radius: 0.8vw;
    width: 100%;
	color: white;
	padding: 0.2vw
}
.comment{
	height: 4vw;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
.input button {
    margin-top: 1vw;
}
@media screen and (max-width: 900px){
.element-2{
	display:none;
}
.footer {
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 5vw;
}
.contacts{
	flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contacts div{
	width: 60%;
	margin: auto;
	margin-bottom: 3vw
}
footer h5 {
    font-size: 4vw;
    margin-bottom: 4vw;
	margin-top: 3vw;
}
.contacts div:first-child {
    margin-right: auto !important
}
.contacts li {
    line-height: 1.5;
}
footer a {
    font-size: 4vw;
	justify-content: center;
}
footer img {
    width: 4.5vw;
}
.socials li {
    line-height: 2;
    text-align: center;
}
.contact- {
    width: 100%;
}
.contact-us h3 {
    font-size: 3vw;
    text-align: left;
}
.comment {
    height: 15vw;
}
.input button {
    margin-top: 5vw;
}
}