.header{
	display: -webkit-flex;
    display: flex;
	width: 100%;
	height: 45vw;
	background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	justify-content: flex-end;
    align-items: center;
}
.main-info{
    width: 45vw;
    text-align: center;
    right: 12vw;
    position: relative;
    z-index: 2;
}
h2{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.main{
	width: 100%;
	height: 50vw;
	position: relative;
}
.main h1{
	padding-bottom: 0.5vw;
}
/***/
.but{
	position: absolute;
    bottom: 2vw;
    right: 2vw ;
}
.col div{
    background-size: cover;
    background-repeat: no-repeat;
	width:100%;
	height: 50%;
	position:relative;
}
.col-1{
	background-image: url(../img/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	width: 50%;
	height: 100%;
	text-align: center;
	position:relative;
}
.functions{
	flex-wrap: wrap;
    height: 30vw;
    justify-content: center;
    padding: 3.5vw;
}
.block{
	width: 33.3333%;
	display: -webkit-flex;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.block:hover{
	background-color: rgba(244, 192, 26, 0.2);
	cursor: pointer;
}
.block h3{
	margin: 0;
    font-size: 1.4vw;
    font-weight: 300;
	height: 3vw;
}
.block img{
    height: 2vw;
    margin: 0.5vw;	
}
.button{
	position:absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	bottom: 2vw;
}
.col-2{
	width: 50%;
	height: 100%;
	position:relative;
}
.col-2 h5{
	margin: 2vw;
    font-size: 1.4vw;
    font-weight: 400;
    text-align: center;
}
.n2, .n3, .n4, .n5{
	display:none;
}
.click{
	position: absolute !important;
    justify-content: space-between;
    height: unset !important;
    width: 85% !important;
    margin: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
	top: 13vw;
	z-index: 2
}
.click div{
	height: unset !important;
    width: unset !important;
}
.click img{
	width: 1vw;
    cursor: pointer;
}
.in-2{
	background-image: url(../img/2.jpg);
}
.side{
	justify-content: center;
}
.side img{
	width: 5vw;
	margin-right: 3vw;
}
.in-3{
	background-image: url(../img/3.jpg);
}
.list{
	width: 55% !important;
    margin: auto;
    margin-top: 2vw;
}
.side-block{
	width: unset !important;
    height: 3vw !important;
	align-items: center;
}
.side-block img{
	width: 2vw;
    height: 2vw;
	margin-right: 2vw;
}
.element-1{
	position:absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	width: 100%;
	bottom: 11vw;
}
.element-1 img{
	width: 15vw;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
/***/
.additional{
	height: 25vw;
	background-color: #555555;
}















/***/
.yellow-div{
	width: 100%;
	height: 8vw;
	background-color: #f5c118;
	justify-content: center;
	align-items: center;
	position: relative;
}
.yellow-div h3{
	margin: 0;
    text-transform: uppercase;
    color: black;
    font-size: 2.5vw;
    font-weight: 500;
}
/***/
.col-squares{
	flex-wrap: wrap;
}
.col-squares div{
	width: 50%;
	height: 25vw;
}
.col-10{
    background-size: cover;
    background-repeat: no-repeat;
	width: 50%;
	height: 100%;
	text-align: center;
	position:relative;
}
.in-4{
	background-image: url(../img/4.jpg);
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.in-4 h2{
	margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
    font-weight: 600;
    text-transform: unset;
    text-align: center;
    font-stretch: extra-expanded;	
}
.in-4 p{
	width: 52%;
    margin-top: 2vw;
}
.element-3{
	position: absolute !important;
    width: 100% !important;
    bottom: -7.5vw;
}
.element-3 img{
	width: 10vw;
    position: absolute;
    right: 1vw;
}
.in-5{
	background-color: #f5c118;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.in-5{
	color: black;
}
.in-5 div{
	width: 80%;
    padding: 1.5vw;
}
.in-5 h5{
	text-align: left;
	margin: 0;
    font-size: 4vw;
    font-weight: 500;
}
.in-5 h5 span{
	font-size: 1.7vw;
}
.in-5 p{
	text-align: left;
}
.first-in-5{
	border-bottom: 1px solid black;
}


.in-6{
	background-color: #555555;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.in-6 img{
	width: 7vw;
    height: 7vw;
    margin-right: 1.5vw;
}
.in-6 h4{
	margin: 0;
    font-size: 4vw;
    font-weight: 400;
}
.in-6 p{
	text-align: center;
    margin-top: 3vw;
}
.time{
	width: unset !important;
    height: unset !important;
	justify-content: center;
	align-items: center;
}
.in-7{
	background-color: white;
	color: black;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.in-7 img{
	width: 9vw;
}
.in-7 h4{
	margin: 1vw;
    font-size: 6vw;
    font-weight: 400;
    line-height: 1;
}
.in-7 h3{
	margin: 0;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.5vw;
    text-align: center;
    width: 70%;
}
.in-8{
	background-image: url(../img/5.jpg);
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.in-8 h4{
	margin: 1vw;
    font-size: 6vw;
    font-weight: 400;
    line-height: 1;
}
.in-8 h3{
	margin: 0;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.5vw;
    text-align: center;
    width: 70%;
}
.in-9{
	background-color: #555555;
	flex-wrap: wrap;
}
.in-9 h4{
	margin: 0;
    font-size: 2.5vw;
    font-weight: 400;
    text-align: center;
}
.in-9 h3{
	margin: 0;
    font-size: 0.9vw;
    font-weight: 400;
    text-align: center;
	text-transform: uppercase;
}
.in-9-div{
	width: 50%!important;
    height: 6.25vw !important;
	display: -webkit-flex;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.line{
	width: 50% !important;
    height: 2px !important;
	background-color: #f5c118;
	margin: auto;
}





@media screen and (max-width: 900px){
.element-1, .element-2, .element-3{
	display:none;
}
.yellow-div {
    height: 15vw;
}
.yellow-div h3 {
    font-size: 4.5vw;
}
.main {
    width: 100%;
    height: auto;
    flex-direction: column;
}
.col-2 {
    width: 100%;
    height: 200vw;
}
.col-10{
	width: 100%;
}
.in-4 p {
    width: 90%;
}
p {
    font-size: 3.5vw !important;
}
.in-4 h2 {
    font-size: 5vw !important;
}
.in-5 h5 span {
    font-size: 2.5vw;
}
.col-squares.col-2 {
    width: 100%;
    height: 100vw;
    position: relative;
}
.col-squares div {
    height: 50vw;
}
.in-8 h3 {
    font-size: 3.5vw;
}
.in-9-div {
    height: 12vw !important;
}
.in-9 h4 {
    font-size: 4.5vw;
}
.in-9 h3 {
    font-size: 2vw;
}
.col-10 {
    height: 200vw;
}
.in-5 h5 {
    font-size: 10vw;
}
.col-1 {
    width: 100%;
    height: 100vw;
}
h1 {
    font-size: 4.5vw !important;
    padding-top: 10vw !important;
}
h2 {
    font-size: 3vw !important;
}
.functions {
    height: 60vw;
}
.block img {
    height: 8vw;
}
.block h3 {
    font-size: 3vw;
    height: 13vw;
}
.in-7 h3 {
    font-size: 3.5vw;
}
.list {
    margin-top: 10vw;
}
.side-block {
    height: 10vw !important;
}
.side-block img {
    width: 6vw;
    height: 6vw;
    margin-right: 5vw;
}
.col-2 h5 {
    font-size: 4vw;
}
.click {
    top: 75vw;
}
.click img {
    width: 5vw;
}
.side {
    justify-content: center;
    height: 35vw !important;
    align-items: center;
}
.side img {
    width: auto;
    height: 10vw;
    margin-right: 3vw;
}
.header {
    height: 180vw;
    background-position: 20%;
}
.main-info {
    width: 100%;
    right: unset;
    top: 50vw;
}
}